div.row-fluid [class*="span"] .center-in-span { float: none; margin: 0 auto; text-align: center; display: block; width:auto; height:auto;}

.bottomMargin {
	margin-bottom: 20px;
}
.typeIcon {
	width:80px;
}
.selected {
	border-color: red;
	border-width: 1px;
	border-style:solid;
}
@media (min-width: 979px){

.launchIcon {
		width:128px;
		height:128px;
	}
}

.chosen-label {
	margin-left: 200px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #e9eaee;

	width: 370px;
}

.chosen-label label {
	padding-left: 5px;
	padding-top: 3px;
}
@media (max-width: 979px){
	body {
		padding-top: 0px !important;
	}
	.mobile {
		display:none;
	}
	.launchIconText {
		float:right;
		max-width:65%;
		min-width:65%;
        font-weight: bold !important;
	}
	.chosen-label {
		padding-left: 5px;
		margin-left: 20px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background: #e9eaee;

		width: 370px;
	}
}

/* Treemap */
.node {
  border: solid 1px white;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
}
.node span {
  display: inline-block;
  padding: 5px;
  color: white;
  font-weight: bold;
}

#overall_form .form-inline {
	margin-left: 20px;
	display: inline-block;
	vertical-align: bottom;
	margin-top: 3px;
}

.form-inline div.controls {
	margin-top: 5px;
}

.form-inline div.controls label.radio {
	padding-top: 0px;
}

.form-inline div.controls label.radio:not(:first-child) {
	padding-left: 5px;
}