<h1>About</h1>
<h2>Why this app?</h2>

<p>
Safety is the way we want to do business when it comes to your patient care. This means we want
to know what is going really well and also want to fix any problems you came have come across.
Your views really matter and you can help us provide even safer care. Every time you fill in one of
these little app reports it helps us to find the spot where we need to work harder.
</p>
<p>
This app will take a minute or so to complete, but it is a really powerful new way to highlight issues for us and may
even save lives. We won’t ask you for personal details and whether you take part in this or not is
completely up to you. If you would like to know more about this please speak to a member of staff
who will put you in touch with the project team for the ‘Bedside Event Safety Tool (BEST)’.
</p>