<h2>Do you need to contact someone right now?</h2>
<p class="contact-number">Use your phone to call <span class="phone-number">0759 838 9085</span></p>
<p>If you are using this app on a mobile phone, most phones will allow you to call just by tapping on the number above</p> 