<form action='/feedback' method='post' class="form-inline well">
  <input type="text" name='date' placeholder="e.g. 31/12/2012" autofocus>
  <input type="text" name='type' value="drug-errors">
  <input class="btn primary" type='submit' value='Next'>
</form>