<h1>Finished</h1>
<h2>Thank you for your feedback!</h2>
<p>We have received and saved your comments with reference: <em><%= feedback_ref %></em></p>
<p>Please <a href="https://www.gosh.nhs.uk/about-us/contact-us/">contact us</a> with this reference if you have any further queries</p>