<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="good_points">Good Points</label>
    <div class="controls">
      <select id="good_points" multiple="multiple">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="bad_points">Bad Points</label>
    <div class="controls">
      <select id="bad_points" multiple="multiple">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="general_comments">Other Comments</label>
    <div class="controls">
      <textarea id="general_comments" rows="3"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Next</button>
    </div>
  </div>
</form>