<div class="row-fluid">
  <div class="span12"></div>
  <div class="span12 bottomMargin">
    <a href="/feedback">
      <img class="center-in-span" class="launchIcon" alt="MyExample" src="/vendor/notepad.png"/>
      <h2 class="center-in-span" title="Tell us if you're worried or feel good about patient safety">Submit feedback</h2>
    </a>
  </div>

  <div class="span12 bottomMargin">
    <a href="/about">
      <img class="center-in-span"  class="launchIcon" src="/vendor/question_mark.png"/>
      <h2 class="center-in-span" title="What is this app?">About</h2>
    </a>
  </div>

  <div class="span12">
    <a href="/contact">
      <img class="center-in-span" class="launchIcon" src="/vendor/blue_light.png"/>
      <h2 class="center-in-span" title="Need urgent help? Tap to call the urgent response team.">Urgent Help</h2>
    </a>
  </div>
</div>