      <div class="row-fluid">
      	     <div class="span1"></div>
		      <div class="span3 bottomMargin ">
		      	<a href="/feedback"><img class="launchIcon" src="/vendor/notepad.png"/></a>
		      	<span class="help-block launchIconText">Tell us if you're worried or feel good about patient safety</span>
		      	<label class="mobile"> blah blah blah bla blah blabh blah blah blah blah blah</label>
		      </div>
	      <div class="span1"></div>
		      <div class="span3 bottomMargin ">
		      	<a href="/about"><img class="launchIcon" src="/vendor/question_mark.png"/></a>
		      	<span class="help-block launchIconText">What is this app?</span>
		      	<label class="mobile"> blah blah blah bla blah blabh blah blah blah blah blah</label>
		      </div>
	      <div class="span1"></div>
		      <div class="span3 bottomMargin ">
		      	<a href="/contact"><img class="launchIcon" src="/vendor/blue_light.png"/></a>
		      	<span class="help-block launchIconText">Need urgent help? Tap to call the urgent response team.</span>
		      	<label class="mobile"> blah blah blah bla blah blabh blah blah blah blah blah</label>
		      </div>
	      <div class="span1"></div>
       </div>
