      <div class="row-fluid">
      	     <div class="span1"></div>
		      <div class="span3 bottomMargin ">
		      	<a href="/feedback"><img class="launchIcon" src="/vendor/notepad.png"/></a>
		      	<span class="help-block launchIconText"><strong>Give feedback or report an incident</strong></span>
		      	<label class="mobile">We want your feedback on any concerns you have or any incidents that happened during your stay in the hospital</label>
		      </div>
	      <div class="span1"></div>
		      <div class="span3 bottomMargin ">
		      	<a href="/about"><img class="launchIcon" src="/vendor/question_mark.png"/></a>
		      	<span class="help-block launchIconText"><strong>What is this app?</strong></span>
		      	<label class="mobile">Find out why we want you to use this application</label>
		      </div>
	      <div class="span1"></div>
		      <div class="span3 bottomMargin ">
		      	<a href="/contact"><img class="launchIcon" src="/vendor/blue_light.png"/></a>
		      	<span class="help-block launchIconText"><strong>Need help now? Tap to call the urgent response team</strong></span>
		      	<label class="mobile">Call the number displayed to speak to a response team member now</label>
		      </div>
	      <div class="span1"></div>
       </div>
